html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0769a6;
  width: 100%;
  height: 40px;
  padding: 4px;
}

nav.console-box {
  width: 120px;
  height: 100%;
}

.btn-right,
.btn-left {
  width: 32px;
  height: 100%;
  background-color: #78a5ca;
  color: #fff;
  border: none;
  z-index: 1;
  line-height: 2;
  border-radius: 2px;
}

.btn-right:hover,
.btn-left:hover {
  opacity: 0.7;
  cursor: pointer;
}

.btn-right {
  margin-left: 2px;
}

.btn-left {
  margin-right: 2px;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #0179be;
  height: 100%;
}
.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px;
  font-weight: 600;
  color: #fff;
}
.board-header-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
}
.board-header-btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: hsla(0, 0%, 100%, 0.24);
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
}
.board-header-btn:nth-child(1) {
  width: 50px;
}
.board-header-btn:nth-child(3) {
  width: 80px;
}
.board-header-btn:nth-child(5) {
  width: 70px;
}
.board-header-btn:nth-child(7) {
  width: 70px;
}

.board-header-btn:hover {
  opacity: 0.7;
}
.board-header-btn-divider {
  border-left: 1px solid hsla(0, 0%, 100%, 0.24);
  height: 16px;
  margin: 0 8px 0 8px;
}

#content-box {
  display: flex;
  flex-grow: 1;
  padding: 10px;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: hidden;
}
.add-list-wrapper {
  position: relative;
}
.add-list {
  display: inline-block;
  width: 260px;
  height: 35px;
  padding: 6px 8px 6px 8px;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  background-color: hsla(0, 0%, 100%, 0.24);
}
.add-list:hover {
  opacity: 0.7;
  cursor: pointer;
}

#list-inputBox-wrapper {
  position: absolute;
  display: none;
  top: 0;
  width: 260px;
  padding: 5px;
  background-color: #ebecf0;
}

#list-input-box {
  width: 100%;
  height: 34px;
  margin-bottom: 5px;
  padding-left: 5px;
  font-size: 16px;
}
.add-list-button {
  width: 80px;
  height: 35px;
  margin-right: 10px;
  background-color: #5aac44;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}
.add-list-button:hover {
  opacity: 0.8;
}
.close-listBox {
  cursor: pointer;
  line-height: 38px;
  font-size: 20px;
}

.button-box {
  display: flex;
  justify-content: flex-start;
}

/* 새로 생성되는 리스트 헤더 스타일*/
.list-box {
  display: flex;
  flex-direction: column;
  width: 260px;

  height: auto;
  min-height: 100px;
  background-color: #ebecf0;
  margin-right: 10px;
  padding: 10px;
  position: relative;
}
.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 30px;
  margin-bottom: 10px;
}
.list-box-title {
  font-size: 18px;
  font-weight: 700;
}
.delete-listBox {
  font-size: 18px;
}
.delete-listBox:hover {
  opacity: 0.7;
  cursor: pointer;
}
/*카드 생성 스타일*/
.card-wrapper {
  display: flex;
  flex-direction: column;
}
.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 20px;

  color: black;
  margin-top: 10px;
  margin-bottom: 10px;

  box-shadow: 0 1.5px 1.5px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.19);
  cursor: grab;
}
.content-container:active {
  cursor: grabbing;
}
.card-content {
  flex-grow: 1;
  font-size: 20px;
  line-height: 25px;
  background-color: #fff;
  overflow: visible;
  padding: 5px;
  margin-bottom: 10px;
}
.drag {
  flex-grow: 1;
  display: none;
  width: 100%;
  min-height: 20px;
  line-height: 25px;
  background-color: #ebecf0;
  margin-top: 10px;
  opacity: 0.5;
}
/*카드 생성 버튼 스타일*/
.add-card-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.open-cardInput-box {
  display: inline-block;
  width: 250px;
  height: 35px;
  padding: 5px;
  font-size: 18px;
  line-height: 25px;
  color: #5e6c84;
}
.open-cardInput-box:hover {
  background-color: rgba(198, 198, 202, 0.781);
  color: #172b4d;
  cursor: pointer;
}
.card-input-wrapper {
  position: absolute;
  display: none;
  top: 0;
  width: 250px;
  min-height: 50px;
  padding: 5px;
  background-color: #ebecf0;
}
.input-card-content {
  width: 100%;
  min-height: 34px;
  margin-bottom: 5px;
  padding-left: 5px;
  font-size: 16px;
  resize: none;
}
.input-card-button-box {
  display: flex;
  justify-content: flex-start;
}
.add-card-button {
  width: 80px;
  height: 35px;
  margin-right: 10px;
  background-color: #5aac44;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}
.add-card-button:hover {
  opacity: 0.8;
}
.close-input-box {
  cursor: pointer;
  line-height: 38px;
  font-size: 20px;
}
